/*
    COMP333: Software Engineering
    Minji Woo (mwoo@wesleyan.edu)
    Sydney Keller (smkeller@wesleyan.edu)

*/

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700;900&display=swap');

/* The background of website should be dark blue with text white, set 
    imported fonts to body text also setting margins */
body {
    background-color: rgb(7, 7, 77);
    color: white;
  
    font-family: 'Kanit', sans-serif;    

    margin-right: 5%;
    margin-left: 5%;
}

/* Specifying font size/padding/alignment for text */
h1 {font-size: 60px; padding-top: 30px;}
h2 {font-size: 30px; } 
p {font-size: 20px; padding-top: 50px;}


/* Specifying general link color */
a {
    color: rgb(255, 230, 0);
    text-decoration: none;
}

#PlaylistRateImg {
    width: 100%;
    height: auto;
    margin-right : auto;
    margin-left : auto;
    min-width : 300px;
    max-width : 100%;
  }

#ProfileImgs {
    width: 45%;
    height: auto;
    margin-right : auto;
    margin-left : auto;
    min-width : 200px;
    max-width : 100%;
  }

/* Setting up buttons */
.button {
    background-color: rgb(255, 230, 0); /* Set button background color to yellow */
    color: rgb(7, 7, 77); /* Set button text color to black */
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'Kanit', sans-serif;
}

/* Setting up sign up button (first button on website) */
.buttonSignUp {
    padding: 30px 150px;

    background-color: rgb(255, 230, 0); 
    color: rgb(7, 7, 77); 
  }

/* Setting links in sign up button */
.buttonSignUp a {
    color: rgb(7, 7, 77);
    text-decoration: none;
    font-size: 25px;
}

/* Setting up button on index2.html page */
.buttonReturnToMain {

    background-color: rgb(255, 230, 0); 
    color: rgb(7, 7, 77); 
  }

/* Setting links in index2.html button */
.buttonReturnToMain a {
    color: rgb(7, 7, 77);
    text-decoration: none;
}

/* Setting up button for intro to soulmate game page */
.buttonSoulmate {
    padding: 5px 15px;
    font-size: 17px;
    background-color: rgb(255, 230, 0); 
    color: rgb(7, 7, 77); 
}

/* Setting links for soulmate button */
.buttonSoulmate a {
    color: rgb(7, 7, 77);
    text-decoration: none;
}

/* Styling iframe */
.container {
    position: relative;
    width: 45%;
    padding: 0% 0% 56.25% 0%;
  }
  
/* Making iframe responcive to browser size */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    /* Note: define height individually */
    border: dashed;
    /* min-width: 360px;
    min-height: 150px; */
  }

/* CSS Box Model */
.css-box-model-class {
    border-width: 2px;
    border-style: solid;
    /* Adding margins outside the box, specify in clockwise order: top, right, bottom, left. */
    margin: 150px 0px 0px 0px;
    /* Adding padding inside the box */
    padding: 30px;
    min-width: 300px;
  }

/* Adding in id attributes so everything in the div section with id "Footer" will be yellow */
  #Footer {
    color: rgb(255, 230, 0);
  }

/* Adding in id attributes so everything in the div section with id "Clarification" will be yellow */
  #Clarification {
    color: rgb(255, 230, 0);
  }

.faq_container {
  background-color: white;
  color: rgb(7, 7, 77);
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  text-align: left;
}

.faq_answer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#Features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}

#FAQ {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.per_feature_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
  gap: 12%;
}

.per_feature_container.odd {
  flex-direction: row;
  text-align: left;
}

.per_feature_container.even {
  flex-direction: row-reverse;
  text-align: right;
}

.feature_text.odd {
  text-align: left;
}

.feature_text.even {
  text-align: right;
}

.quiz {
  text-align: center;
}

.feature_text{
  width: 45%;
  align-items: center;
  justify-content: center;
}

.feature_text h1{
  font-size: 30px;
}

.feature_text h2{
  font-size: 20px;
}

.separator {
  border-top: 2px solid rgba(255,255,255,0.5); 
  width: 100%;
  margin-top: 20px; 
  margin-bottom: 20px;
}

.separator.feature {
  border-top: 1px solid rgba(255,255,255,0.5); 
  width: 100%;
  margin-top: 20px; 
  margin-bottom: 20px;
}

.navbar {
  position: fixed;
  background-color: rgb(7, 7, 77);
  width: 90%;
  overflow: hidden;
  padding: 0;
  top: 0;
}

.navbar ul {
  list-style: none;
  margin: 0 auto;
  text-align: right;
  padding-top: 2%;
  padding-bottom: 2%;
}

.navbar li {
  display: inline-block;
  line-height: 40px;
}

.navbar a {
  color: white;
  font-size: 18px;
  padding: 14px 16px;
  text-align: center;
}

.navbar a:hover {
  color: rgb(255, 230, 0);
  font-weight: bold;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
.flex-container > div {
    margin: 20px;
    padding: 10px;
  }