/*
    COMP333: Software Engineering
    Minji Woo (mwoo@wesleyan.edu)
    Sydney Keller (smkeller@wesleyan.edu)

*/

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700;900&display=swap');

/* The background of website should be dark blue with text white, set 
    imported fonts to body text also setting margins */
body {
    background-color: rgb(7, 7, 77);
    color: white;
  
    font-family: 'Kanit', sans-serif;    

    margin-top: 50px;
    margin-right: 150px;
    margin-left: 80px;
}

/* Specifying font size for text */
h1 {font-size: 60px; }
h2 {font-size: 30px;}
p {font-size: 20px; }

/* Specifying general link color */
a {
    color: rgb(255, 230, 0);
}

/* Setting up buttons */
.button {
    background-color: rgb(255, 230, 0); /* Set button background color to yellow */
    color: rgb(7, 7, 77); /* Set button text color to black */
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'Kanit', sans-serif;
}

/* Setting up sign up button (first button on website) */
.buttonSignUp {
    padding: 30px 150px;

    background-color: rgb(255, 230, 0); 
    color: rgb(7, 7, 77); 
  }

/* Setting links in sign up button */
.buttonSignUp a {
    color: rgb(7, 7, 77);
    text-decoration: none;
    font-size: 25px;
}

/* Setting up button on index2.html page */
.buttonReturnToMain {

    background-color: rgb(255, 230, 0); 
    color: rgb(7, 7, 77); 
  }

/* Setting links in index2.html button */
.buttonReturnToMain a {
    color: rgb(7, 7, 77);
    text-decoration: none;
}

/* Setting up button for intro to soulmate game page */
.buttonSoulmate {
    padding: 5px 15px;
    font-size: 17px;
    background-color: rgb(255, 230, 0); 
    color: rgb(7, 7, 77); 
}

/* Setting links for soulmate button */
.buttonSoulmate a {
    color: rgb(7, 7, 77);
    text-decoration: none;
}

/* Styling iframe */
.container {
    position: relative;
    width: 100%;
    padding: 0% 0% 56.25% 0%;
  }
  
/* Making iframe responcive to browser size */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    /* Note: define height individually */
    border: dashed;
  }

/* CSS Box Model */
.css-box-model-class {
    border-width: 2px;
    border-style: solid;
    /* Adding margins outside the box, specify in clockwise order: top, right, bottom, left. */
    margin: 150px 0px 0px 0px;
    /* Adding padding inside the box */
    padding: 30px;
  }

/* Adding in id attributes so everything in the div section with id "Footer" will be yellow */
  #Footer {
    color: rgb(255, 230, 0);
  }

/* Adding in id attributes so everything in the div section with id "Clarification" will be yellow */
  #Clarification {
    color: rgb(255, 230, 0);
  }

